In [2]:
from jupyter_dash import JupyterDash

import dash 
import dash_core_components as dcc 
import dash_html_components as html 
from dash.dependencies import Input, Output

import plotly.express as px

In [ ]:
# Binder向け設定
JupyterDash.infer_jupyter_proxy_config()

In [6]:
gapminder= px.data.gapminder()

app = JupyterDash()

app.layout = html.Div(
[
    html.H1("HEllo Jupyter Dash !"),
    
    dcc.Dropdown(id="xaxis", options=[{"value": i, "label": i} for i in gapminder.columns[3:6]], value="gdpPercap"),
    dcc.Dropdown(id="yaxis", options=[{"value": i, "label": i} for i in gapminder.columns[3:6]], value="pop"),
    
    dcc.Graph(id="graph")
]
)

@app.callback(Output("graph", "figure"), [Input("xaxis", "value"), Input("yaxis", "value")])
def update_graph(xaxis_value, yaxis_value):
    return px.scatter(gapminder, x=xaxis_value, y=yaxis_value, color="continent", log_x=True, log_y=True)

# 出力はjuptyerlab / inline / external
app.run_server(mode="jupyterlab")

In [8]:
gapminder

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716